
body{
    background-color:rgba(0, 0, 0, 0.863);
    margin: 0px;
    animation:  5s infinite;
    
    
}
@keyframes mymove{
    50%{background-color: rgb(163, 39, 39);}
}
nav{
    text-align:  right;
    padding-top: 20px;
    
    
    
}
a.q{
    float: left;
    text-decoration: none;
    color: black;
    font-size: 20px;
    
     margin-top: -30px;
}

.q:hover{
    background-color: none;
    

}

a.q:hover{
    background-color: transparent;
    color:black;
    padding: 0px;
    
}
a{
    text-decoration:none;
    color: white;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 22px;
    font-style:oblique;
    
    
    
    
}
a:hover{
    
    color: red;
    border-radius: 26px;
    
    
}
a.w{
    
    border-radius: 26px;
    color: white;
    padding-left:20px ;
    padding-right: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
}
a.w:hover{
    color: red;
}

p.d{
    margin-left: 100px;
    
    margin-top: 150px;
    color: white;
    font-size: 50px;   
    font-family: georgia;
}
p.f{
    color: white;
    font-size: 50px;
    margin-left: 100px;
    margin-top: -30px;
    font-family: georgia;
}
p.t{
    text-align: center;
    color: white;
    font-size: 300px;
    margin-left: ;
    margin-top: 80px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
img{
    margin-left: 550px;
}
div.a{
    background-color:brown;
    width: auto;
    height: 725px;
    
}
.text {
    text-align: center;
    padding: 100px;
    color: white;
}
h4{
    text-align: center;
    padding-left: 300px;
    padding-right: 300px;
    color: white;
    padding-bottom: 300px;
}
table,th{
    border: 0.1px groove black;
    margin-left: 350px;
    margin-bottom: 50px;
    color: azure;
    
    
}
th{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
}
h1.h1{
    text-align: center;
    color: azure;
    
}
div.t{
    background-color: grey;
    border-radius: 8px;
    width: 300px;
    margin-right: 240px;
    border:2px solid rgb(158, 158, 158);
    animation:  mymove 10s infinite;
    
}
p.e{
    color: cornflowerblue;
    padding: 100px;
    
}
div.e{
    background-color: grey;
    border-radius: 8px;
    width: 300px;
    
    margin-left: 255px;
    margin-top: 10px;
    border:2px solid rgb(158, 158, 158);
    animation:  mymove 10s infinite;
    
    
    
}
p.q{
    color: rgb(237, 100, 203);
    padding: 100px;
    
}
aside {
    
    
    margin-left: 15px;
    float: right;
    
    
  }
  div.q{
    background-color:grey;
    border-radius: 8px;
    width: 300px;
    border:2px solid rgb(158, 158, 158);
    margin-bottom: 10px;
    animation:  mymove 10s infinite;
    
    
    
    
}
p.w{
    color: rgb(100, 237, 141);
    padding: 100px;
}
svg{
    color:white;
}
a.r{
    margin-left: 650px;
    background-color: gray;
    color: white;
    border-radius: 16px;
    padding: 10px;
    
}
p.i{
    margin-top: 100px;
    margin-bottom: 100px;
}

div.r{
    background-color:rgba(255, 0, 64, 0.719) ;
    
    
    height: 220px;
     
    
    

}
img.q{
    margin-left: -1px;
    border-radius: 8px;
}
.v{
    background-image: url();
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.contact{
    background-color: rgb(53, 52, 52);
    margin-left: 200px;
    margin-right: 200px;
    
    z-index: 1;
    border-radius: 30px;
    
    
}
.column{
    display:inline-block;
    color: white;
    margin-left:70px ;
    margin-top:50px ;
    margin-bottom: 50px;
    
}
.btn{
   border: 3px solid #8a2be2;
   border-radius: 35px;
}
.center{
    background-color: rgb(53, 52, 52);
    color: aliceblue;
    border: ;
    margin: 15px;
}
div.v{
    background-image: url("https://cdn.wallpapersafari.com/32/51/5cXThO.jpg");
    height: 725px;
    background-position: center;
    background-size: cover;

}
svg.o{
    margin-top: 110px;
    margin-left: 200px;
}
a.z:hover{
    background-color: transparent;
    padding: 0px;
}
div.footer{
    
    width: auto;
    height: 300px;
    background-color:#BC243C;
}

div.aboutnav{
    background-image: url("");
    height: auto;
    background-size: cover;
    background-color: #BD3D3A;

}
img.me{
    border-radius: 100px;
    margin-left: 900px;
    margin-top: -400px;
    height:380px ;
    width: 330px;
    
    
}

div.about{
    background-color: rgba(0, 0, 0, 0.829);
    padding-bottom: auto;
    padding-top: 10px;
    margin-top: 100px;
    
    
}
div.hajuu{
    width: 600px;
    height: 370px;
    background-color: black;
    margin-left: 100px;
    text-align: center;
    border-radius: 50px;
    font-size: 25px

    
    
    
}

h5{
    color: silver;
    padding-top: 50px;
    

}
div.deed{
    background-color: ;
    height: 50px;
    position: -webkit-sticky;
    position: sticky;
    
    
}
div.doo{
    width: 300px;
    height: 300px;
    background-color: aliceblue;
    display: inline-block;
    margin: 50px;
    margin-left: 100px;
    border-radius: 100px;
}
div.dood{
    margin-top: 100px;
    
}
div.footerr{
    height: 100px;
    width: auto;
    background-color: black;
}
p.l{
    text-align: center;
    font-family: arial;
    margin-left:20px ;
    margin-right: 20px;
    margin-top: 50px;
}
p.z{
    color: aliceblue;
    font-size: small;
    font-family: Arial;
}
div.u{
    background-color: rgba(0, 0, 0, 0.548);
    height: 725px;
    width: auto;
    
}
h2.logo{
    color:aliceblue;
    font-family: georgia;
}
p.aa{
    color: whitesmoke;
    margin-left: 100px;
    font-size: 20px;
    margin-top: -50px;
}
span{
    color: red;
}
span.web{
    font-size: 40px;
    color: white;
    margin-left: -40px;
}
h1.aa{
    color: whitesmoke;
    font-size: 100px;
    margin-left: 100px;
}
div.aa{
    
}
div.aaa{
    
   margin-left: 600px;
   margin-top: -600px;
   
}
img.aa{
    margin-left: 100px;
    margin-top: 50px;
}
p.aaa{
    color: white;
    text-align: center;
    padding-left: 90px;
    padding-right: 200px;
    margin-top: 30px;
    font-weight: ;
    font-size: 30px;
    
}
p.aaaa{
    color: white;
}
h1.fo{
    color: wheat;
    text-align: center;
    padding-top: 50px;
    font-size: 50px;
}
h2.fo{
    color: white;
    padding-left: 50px;
    margin-top: -40px;
}
p.fo{
    color: white;
    margin-left: 40px;
    margin-top: -10px;
}
div.foo{
    display: inline-block;
    margin-left: 200px;
    padding-top: 30px;
}
svg.fo{
    padding-left: 50px;
}
span.info{
    color: white;
}
 div.right ,div.bars {
    margin-bottom: 15px;

}
 div.right ,div.info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
 div.right span{
    font-weight: 500;
    font-size: 18px;
}
div.right, div.line{
    height: 5px;
    width: 100%;
    background: rgb(102, 101, 101);
    position: relative;
}
div.right, div.line::before{
    content: "";
    position: absolute;
    height: 100%;
    left: o;
    top: 0;
    background: lightgrey;
}
div.right, div.html::before{
    width: 70%;
}
div.right, div.css::before{
    width: 60%;
}
div.right, div.js::before{
    width: 30%;
}
div.right, div.php::before{
    width: 50%;
}
div.right, div.mysql::before{
    width: 90%;
}
div.bars{
    padding-left:100px ;
    padding-right: 100px;
}
h1.myskill{
    color: white;
    text-align: center;
    font-size: 59px;
}
div.column-right{
    padding-bottom: 50px;
    margin-bottom: -50px;
}
h1.myskilll{
    color: rgba(255, 255, 255, 0.11);
    font-size: 130px;
    margin-top: -160px;
    margin-left: 500px;
}
body.q{
    background-color: #BD3D3A;
}
span.info{
    font-size: 30px;
}
a.video{
    color: black;
}



 









