body{
    background-color:rgba(0, 0, 0, 0.863);
    margin: 0px;
    animation:  5s infinite;
    
    
}
@keyframes mymove{
    50%{background-color: rgb(163, 39, 39);}
}
nav{
    text-align:  right;
    padding-top: 20px;
    
    
    
}
a.q{
    float: left;
    text-decoration: none;
    color: black;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     margin-top: -20px;

    

}
.q:hover{
    background-color: none;
    

}

a.q:hover{
    background-color: transparent;
    color:black;
    padding: 0px;
    
}
a{
    text-decoration: none;
    color: rgb(2, 2, 2);
    margin-left: 15px;
    margin-right: 15px;
    font-size: 19px;
    
    
    
}
a:hover{
    background-color:grey ;
    color: white;
    border-radius: 26px;
    padding: 5px;
    
}
a.w{
    background-color:rgb(99, 98, 98);
    border-radius: 26px;
    color: white;
    padding-left:20px ;
    padding-right: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
}
a.w:hover{
    background-color: black;
    
}
p.d{
    text-align: center;
    font-size: 50px;
    margin-top: 150px;
    color: antiquewhite;
}
p.t,p.r{
    text-align: center;
    color: antiquewhite;
}
img{
    margin-left: 550px;
}
div.a{
    background-color:gray ;
    
}
.text {
    text-align: center;
    padding: 100px;
    color: white;
}
h4{
    text-align: center;
    padding-left: 300px;
    padding-right: 300px;
    color: white;
    padding-bottom: 300px;
}
table,th{
    border: 0.1px groove black;
    margin-left: 350px;
    margin-bottom: 50px;
    color: azure;
    
    
}
th{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
}
h1.h1{
    text-align: center;
    color: azure;
    
}
div.t{
    background-color: grey;
    border-radius: 8px;
    width: 300px;
    margin-right: 240px;
    border:2px solid rgb(158, 158, 158);
    animation:  mymove 10s infinite;
    
}
p.e{
    color: cornflowerblue;
    padding: 100px;
    
}
div.e{
    background-color: grey;
    border-radius: 8px;
    width: 300px;
    
    margin-left: 255px;
    margin-top: 10px;
    border:2px solid rgb(158, 158, 158);
    animation:  mymove 10s infinite;
    
    
    
}
p.q{
    color: rgb(237, 100, 203);
    padding: 100px;
    
}
aside {
    
    
    margin-left: 15px;
    float: right;
    
    
  }
  div.q{
    background-color:grey;
    border-radius: 8px;
    width: 300px;
    border:2px solid rgb(158, 158, 158);
    margin-bottom: 10px;
    animation:  mymove 10s infinite;
    
    
    
    
}
p.w{
    color: rgb(100, 237, 141);
    padding: 100px;
}
svg{
    color:white;
}
a.r{
    margin-left: 650px;
    background-color: gray;
    color: white;
    border-radius: 16px;
    padding: 10px;
    
}
p.i{
    margin-top: 100px;
    margin-bottom: 100px;
}

div.r{
    background-color:gray ;
    
    
    height: 220px;
     
    
    

}
img.q{
    margin-left: -1px;
    border-radius: 8px;
}
.v{
    background-image: url();
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.contact{
    background-color: rgb(53, 52, 52);
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: -100px;
    z-index: 1;
    border-radius: 30px;
    position: relative;
    
}
.column{
    display:inline-block;
    color: white;
    margin-left:70px ;
    margin-top:50px ;
    margin-bottom: 50px;
    
}
.btn{
   border: 3px solid blueviolet;
   border-radius: 35px;
}
.center{
    background-color: rgb(53, 52, 52);
    color: aliceblue;
    border: none;
    margin: 15px;
}
div.v{
    background-image: url("https://www.teahub.io/photos/full/194-1941553_4k-wallpapers-for-pc-city-hd-wallpapers-for.jpg");
    height: 500px;
    background-position: center;
    background-size: cover;

}
svg.o{
    margin-top: 110px;
    margin-left: 200px;
}
a.z:hover{
    background-color: transparent;
    padding: 0px;
}
div.footer{
    display: inline-block;
    margin-left: 100px;
}
a.foo:hover{
    background-color: transparent;
    
}
div.aboutnav{
    background-image: url("https://www.itl.cat/pngfile/big/8-85371_hd-resolution-night-city-wallpaper-4k.jpg");
    height: auto;
    background-size: cover;

}
img.me{
    border-radius: 100px;
    margin-left: 900px;
    margin-top: -400px;
    height:380px ;
    width: 330px;
    
    
}

div.about{
    background-color: rgba(0, 0, 0, 0.829);
    padding-bottom: auto;
    padding-top: 10px;
    margin-top: 100px;
    
    
}
div.hajuu{
    width: 600px;
    height: 370px;
    background-color: black;
    margin-left: 100px;
    text-align: center;
    border-radius: 50px;
    font-size: 25px

    
    
    
}

h5{
    color: silver;
    padding-top: 50px;
    

}
div.deed{
    background-color: rgb(238, 235, 235);
    height: 50px;
    position: -webkit-sticky;
    position: sticky;
    
    
}
div.doo{
    width: 300px;
    height: 300px;
    background-color: aliceblue;
    display: inline-block;
    margin: 50px;
    margin-left: 100px;
    border-radius: 100px;
}
div.dood{
    margin-top: 100px;
    margin-bottom: 100px;
}
div.footerr{
    height: 100px;
    width: auto;
    background-color: black;
}
p.l{
    text-align: center;
    font-family: arial;
}
p.z{
    color: aliceblue;
    font-size: small;
    font-family: Arial;
}